<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521249441765-em2dtt1gs3n1ri6rsfkqj4qdg1a441f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521249441765-em2dtt1gs3n1ri6rsfkqj4qdg1a441f8</string>
	<key>API_KEY</key>
	<string>AIzaSyBjCD8h3xdV4MjMGlf3obEvbH-d9ukGGM8</string>
	<key>GCM_SENDER_ID</key>
	<string>521249441765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineQuranLearning</string>
	<key>PROJECT_ID</key>
	<string>online-quran-learning-1e513</string>
	<key>STORAGE_BUCKET</key>
	<string>online-quran-learning-1e513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521249441765:ios:6d911f502d10f62f4e510c</string>
</dict>
</plist>